{% extends 'inventory/base.html' %}

{% block content %}
<div class="card-mx-auto" style="width :76rem;">
    <div class="card-body mt-5">
        <h5 class="card-title mb-3">all items</h5>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> Name</th>
                        <th scope="col">AVAILABLE STOCK</th>
                        <th scope="col">created_by</th>
                        <th scope="col">created_date</th>
                        <th scope="col">initial_amount</th>
                        <th scope="col">Update</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in items  %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.created_by }}</td>
                        <td>{{ item.created_date }}</td>
                        <td>{{ item.initial_amount}}</td>
                        <td><a href="{% url 'update-item' item.pk %}"><small> Update</small></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
{% endblock content %}